.container{
        background-color: #a8e339ed;
        /* width: fit-content; */
        padding: 1em;
        border-radius: 10px;
        box-shadow: 10px 10px 5px 0px #17ff0f33, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 16px 0 #17ff0f33, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0px 0px 8px rgb(8, 241, 86);
        display: flex;
        flex-direction: column; 
        margin: 2em;
        width: 300px;
        height: 500px;
        opacity: 0.7;
     

}


 .container:hover{ 
    opacity: 1;
    box-shadow: 0px 0px 40px 20px rgb(8, 241, 86);
    transition: 0.8s ease-in-out;

    
} 

.buttonClose{
    border-radius: 3px 10px 3px 9px;
    border: 0px;
    background-color: red;
    /* border-radius: 10px; */
    width: fit-content;
    height: fit-content;
    margin-bottom: 0px;
    margin-left: 295px;
    margin-top: -16px;
}

.buttonClose:hover{
    box-shadow:  -3px 3px 8px 3px black;
    transition: 0.5s ease-in-out;
    
}


.buttonFav{
    /* border-radius: 3px 10px 3px 9px; */
    border: 0px;
    width: fit-content;
    height: fit-content;
    margin-bottom: -3.5px;
    margin-left: -16px;
    margin-top: -16px;
    background-color: #a8e339ed;
background: none;
}

/* .buttonFav:hover{
    box-shadow:  -3px 3px 8px 3px black;
    transition: 0.5s ease-in-out;
    
} */

.name{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align:center;
    color: #2d6e7e;
    word-wrap: break-word;
    font-size: 2.5em;
    /* margin-bottom: 0px; */
    font-family: rick;
    text-shadow:  30px 10px 10px #153b44;
    text-decoration: none;
}

.name:hover{
    text-shadow: 30px 10px 6px #153b44;
    font-size: 2.54em;
    transition: 0.5s ease-in-out;





}

/* .species{
    font-family: rick;
    color:black;
    font-size: 2em;
    text-align: left;
}



.gender{
    font-family: rick;
    color:black;
    font-size: 2em;
    text-align: right;

} */


.spegen{
    font-family: rick;
    color:#2d6e7e;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    text-shadow:  30px 10px 10px #153b44;


}



.image{
     border-radius:  50%;
    /* size: 50px; */
    align-content: center;
     width: 300px;
     height: 300px;

}

.image:hover{

    box-shadow: 3px 3px 15px 3px rgb(3, 123, 43);
    /* width: 299px;
    height: 299px; */


    /* -webkit-transform: rotate(360deg); */
    transition: 0.7s ease-in-out;
} 